[submodule "PIEngine/vendor/spdlog"]
	path = PIEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "PIEngine/vendor/GLFW"]
	path = PIEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
