[submodule "PIEngine/vendor/spdlog"]
	path = PIEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "PIEngine/vendor/GLFW"]
	path = PIEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "PIEngine/vendor/imgui"]
	path = PIEngine/vendor/imgui
	url = https://github.com/DogWealth/imgui
[submodule "PIEngine/vendor/glm"]
	path = PIEngine/vendor/glm
	url = https://github.com/g-truc/glm
